#Make a python-list 1 to 100 numbers without mention the numbers in the list manually.

- Define a list
- For loop
- Increment and append numbers into the list
- print

In [51]:
li=[]
n=int(input())
for i in range(1,n+1):
    #print(i)
    li.append(i)
print(li)

li2=[1:100:1]
li2

SyntaxError: invalid syntax (<ipython-input-51-c36c6c7507c5>, line 8)

In [28]:
s={}
type(s)
# m=()
# type(m)

dict

In [29]:
s1=([1,2,3], [2,3,4])
print(s1)
type(s1)
thisset = {"apple", "banana", "cherry"}
type(thisset)

([1, 2, 3], [2, 3, 4])

set

In [30]:
# Dictionary

d1 = {'id':'112w1a0547'}
print(d1)
type(d1)

{'id': '112w1a0547'}

dict

In [34]:
# SET
s1 = {1,2,3,4,5,5,5,5,5}
print(s1)
type(s1)

{1, 2, 3, 4, 5}

set

In [43]:
s2=set()
n=int(input())
for i in range(1,n+1):
    #print(i)
    s2.add(i)
print(s2)
type(s2)

100
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

set

In [56]:
t1=tuple(range(1,11),)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [59]:
li1=[1,2,3,4,5]
li1
li2=[]
for i in li1:
    li2.append(i**2)
li2

[1, 4, 9, 16, 25]

In [62]:
t2=tuple(li2)
t2

(1, 4, 9, 16, 25)

In [69]:
#take two inputs from user - Name and District, it prints like below. Ex: I'm Tilak babu!!! coming from Guntur.

s1=input()
s2=input()
print("I'm "+s1+ "!!!"+ " coming from",s2+".")

Manasa
Hyderabad
I'm Manasa!!! coming from Hyderabad.