In [7]:
d={'name': 'manasa', 'lastname':'pothula'}
for item in d.items():
    if item[0]==('lastname'):
        print(item[1])
# c=list(d.values())
# c[0]

pothula

In [8]:
dir(list) #to know particular menthods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
li=[1,2,3,4,]
li=li[::-1]
li

[4, 3, 2, 1]

In [17]:
for i in range(0, len(li)):
    if int(i)%2==0:
        print(li[i])

4
2

In [34]:
li=["welcome", "to", "apssdc", "hello", "hi", "ban", "cat", "abc"]
# li1=sorted(li)
# li1
j=li[0]
for i in range(1, len(li)):
    if li[i]<j:
        j=li[i]
print(j)

abc

In [32]:
li=["apple", "ant", "abc", "aaa"]
j=li[0]
for i in range(1, len(li)):
    if li[i]<j:
        j=li[i]
print(j)

aaa

In [2]:
import pandas as pd

filepath='DataFiles/income.csv'
incomedf=pd.read_csv(filepath)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [17]:
for i in range(2,11):
    print(incomedf.values[2][i] )

45245
46657
47215
46914
45739
46896
48621
47044
50602

In [12]:
#Function to print state names and their income in the year 2013
for row in incomedf.values:
    print(row[1], " ", row[-1])

Alabama   41381
Alaska   61137
Arizona   50602
Arkansas   39919
California   57528

In [46]:
#Function to find the average of california state income
import pandas as pd
incomedf=pd.read_csv(filepath)
sum=0
for i in range(2,11):
    sum+=incomedf.values[4][i]
print(sum/len(incomedf.values[2][2:]))

filepath='DataFiles/income.csv'

55350.444444444445

In [47]:
#Function to find the average of all states in the year 2012

incomedf=pd.read_csv('DataFiles/income.csv')
sum=0
for i in incomedf.values:
    sum+=i[-2]
print(sum/len(incomedf.values))

50038.8

In [48]:
incomedf=pd.read_csv('DataFiles/income.csv')
def readColumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=' ')
readColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [49]:
def readRows(df, key):
    for row in incomedf.values:
        if key in row:
            for item in row:
                print(item, end=' ')
                
                
readRows(incomedf, '04000US05')

04000US05 Arkansas 36658 37057 40795 39586 36538 38587 41302 39018 39919

In [66]:
# Accessing a unique value based on row, column info
# Income of a state in a given year

def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
#         print(df.values[i][0])
#         print(df.values[i][1])
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
#getRowIndex(incomedf, 'California')

def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        #print(df.columns[i])
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex

#getColumnIndex(incomedf, '2009')

def valuesFromRowColumn(df, rowkey, columnkey):
    rowindex=getRowIndex(df, rowkey)
    columnindex=getColumnIndex(df, columnkey)
    return df.values[rowindex][columnindex]
valuesFromRowColumn(incomedf, 'California', '2009')

56134

In [73]:
# Function to update data based on rowkey and columnkey
def updateDataCellFromRowColumn(df, rowkey, columnkey, newdata):
    rowindex=getRowIndex(df, rowkey)
    columnindex=getColumnIndex(df, columnkey)
    row=df.values[rowindex]
    row[columnindex]=newdata
    df.loc[rowindex]=row
    #56134
    print(incomedf)
updateDataCellFromRowColumn(incomedf, 'California', '2009', '56134')

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [75]:
#accessDataFrameRow(incomedf, '50602')

In [6]:
def getRowIndex(df, rowkey):
    for i in range(len(df.values)):
#         print(df.values[i][0])
#         print(df.values[i][1])
        if df.values[i][0] == rowkey or df.values[i][1] == rowkey:
            rowindex = i
    return rowindex
getRowIndex(incomedf, 'California')

4