In [128]:
import pandas as pd
incomedf=pd.read_csv('DataFiles/income.csv')
print(len(incomedf))
print(len(incomedf.columns))
incomedf

5
11

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [123]:
#Combined Average Income of all states from 2005 to 2013

def combinedAverageIncome(df, startyear, endyear):
    sum=0
    avg=0
    count=0
    st=int(getColumnIndex(df, startyear))
    #print(st)
    ed=int(getColumnIndex(df, endyear))
    #print(ed)
    for j in range(0, len(incomedf.values)):
        #print(incomedf.values[j])
        for i in range(st, ed+1):
            #print(incomedf.values[j][i])
            sum+=int(incomedf.values[j][i])
            count+=1

print(sum//count)
combinedAverageIncome(incomedf, '2005', '2013')

48525

In [124]:
incomedf
sum=0
avg=0
count=0
for j in range(0, len(incomedf.values)):
        #print(incomedf.values[j])
        for i in range(2, len(incomedf.values[j])):
            #print(incomedf.values[j][i])
            sum+=incomedf.values[j][i]
            count+=1
print(count)
print(sum)
print(sum//count)

45
2183644
48525

In [121]:
import pandas as pd
incomedf=pd.read_csv('DataFiles/income.csv')
def getColumnIndex(df,columnkey):
    columnindex=0
    for column in range(0, len(df.columns)):
        if columnkey==df.columns[column]:
            columnindex=column
    return(columnindex)
getColumnIndex(incomedf,'2013')

10

In [139]:
def getRowIndex(df, rowkey):
    for row in range(len(df.values)):
        for i in range(0, len(df.columns)):
            #print(df.values[row][i])
            if rowkey==df.values[row][i]:
                rowindex=row
    return rowindex
getRowIndex(incomedf, 55319)

4

In [140]:
#State with highest average income in the last three years
def highestAverageIncome(df, startyear, endyear):

SyntaxError: unexpected EOF while parsing (<ipython-input-140-797ad9672d49>, line 3)

In [166]:
Alabama=0
Alaska=0
Arizona=0
Arkansas=0
California=0
count=0
for i in range(len(incomedf.columns)-3, len(incomedf.columns)):
    count+=1
    for j in range(0, 5):
        #print(incomedf.values[j][i])
        if j==0:
            Alabama+=incomedf.values[j][i]
        if j==1:
            Alaska+=incomedf.values[j][i]
        if j==2:
            Arizona+=incomedf.values[j][i]
        if j==3:
            Arkansas+=incomedf.values[j][i]
        if j==4:
            California+=incomedf.values[j][i]
# print(Alabama/count)
Alabama=Alabama//count
# print(Alaska/count)
Alaska=Alaska//count
# print(Arizona/count)
Arizona=Arizona//count
# print(Arkansas/count)
Arkansas=Arkansas//count
# print(California/count)
California=California//count
#print(count)
li=[]
dict={}
li.append(Alabama)
li.append(Alaska)
li.append(Arizona)
li.append(Arkansas)
li.append(California)
higher=0
for i in li:
    if i>higher:
        higher=i
print(higher)
li

60738

[42478, 60738, 48755, 40079, 55971]

In [158]:
len(incomedf.values)

5

In [167]:
for i in range(len(incomedf.columns)-3, len(incomedf.columns)):
    count+=1
    for j in range(0, 5):
        #print(incomedf.values[j][i])
        if j==0:
            Alabama+=incomedf.values[j][i]
        if j==1:
            Alaska+=incomedf.values[j][i]
        if j==2:
            Arizona+=incomedf.values[j][i]
        if j==3:
            Arkansas+=incomedf.values[j][i]
        if j==4:
            California+=incomedf.values[j][i]

In [169]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']