In [3]:
a=int(input())
b=int(input())
print(a*b if a*b<1000 else a+b)

20
300
320

In [9]:
a=("apple", "banana", "orange")
id(a)
# a=("berries", "banana", "orange")
# id(a)

2301385736624

In [3]:
s={3,1,2,6, 5}
s

{1, 2, 3, 5, 6}

In [5]:
d={"name":"manasa", "rollno":"11rh1a0490"}
d

{'name': 'manasa', 'rollno': '11rh1a0490'}

In [9]:
n=int(input())
sum=0
for i in range(1, n+1):
    sum=sum+i
print(sum)

10
55

In [21]:
def summ(n):
    counter=0
    sum=0
    
    if counter<=n:
        sum=sum+counter
#         print(sum)
        return
    print(sum)
n=int(input())
summ(n)

3

In [44]:
def printnumber(n):
    sum=0
    if n>0:
        printnumber(n-1)
#         print(n, end=' ')
        sum=sum+n
    print(sum+n)
n=int(input())
printnumber(n)

3
0
2
4
6

In [47]:
t=(1,"manasa", 2.5)
type(t)

tuple

In [50]:
s={1,2,'manasa'}
type(s)
s

{1, 2, 'manasa'}

In [7]:
#sum of n natural numbers

n=int(input())
sum=(n*(n+1))/2
print(sum)

5
15.0

In [43]:
#Age in years

from datetime import datetime
from datetime import date

currentSecond = datetime.now().second
#print(currentSecond)
currentMinute = datetime.now().minute
#print(currentMinute)
currentHour = datetime.now().hour
#print(currentHour)
currentDay = datetime.now().day
#print(currentDay)
currentMonth = datetime.now().month
#print(currentMonth)
currentYear = datetime.now().year
#print(currentYear)
print("enter Year of Birth")
y=int(input())
print("enter Month of Birth")
m=int(input())
print("enter Date of Birth")
d=int(input())
years=0
days=0
hours=0
minutes=0
#print("Your DOB is ", str(d)+"-"+str(m)+"-"+str(y))
if y>currentYear and (y<0 or m<0) and (m>12 or d<0) and d>31:
    print("enter valid DOB")
else:
    years= currentYear-y
    months= abs(currentMonth-m)
    days= currentDay-d
    print("current age is", years,"years", months, "months", days, "days")
    print("or", (years*12)+(months), "months", days, "days")
    print("No of days", )
    
#     if y%400==0 or y%100!=0 and y%4==0:
#         days=366
#     else:
#         days=365
#          print("Leap Year")
#     else:
#         print("Not Leap Year")
# today=date.today()
# print(today)
# print("Your age is", currentYear-y)

enter Year of Birth
1994
enter Month of Birth
07
enter Date of Birth
03
current age is 25 years 3 months 12 days
or 303 months 12 days
No of days

In [47]:
# Number of days in a month
def daysInMonth():

    ndays=0
    if m==2:
        ndays=28
    elif (m<=7 and m%2==0) or (m>7 and m%2!=0):
        ndays=30

    else:
        ndays=31

    print(ndays)
daysInMonth()

31

In [46]:
#Age in days



totalDays=(ndays-d+days+(365*years)+)
totalDays

9255

In [41]:
print(currentYear-y)

21