In [1]:
#Function to print all combinations of pairs of integers in a unique list
#[1,2,3] (1, 2), (1, 3), (2, 3) -> 3C2 -> 3!/((3-2)! * 2!)

#[1,2,3,4] -> (1,2), (1,3), (1,4), (2,3), (2,4), (3,4)

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            print(li[i], li[j])
    return
li=[1,2,3,4]
combinations(li)

1 2
1 3
1 4
2 3
2 4
3 4

In [8]:
def combinations3(li):
    for i in range(len(li)): #for i in range(len(li)-2): and for i in range(len(li)-1): also works
        for j in range(i+1, len(li)): #for j in range(i+1, len(li)-1): also works
            for k in range(j+1, len(li)):
                print(li[i], li[j], li[k])
    return
li=[1,2,3,4,5]
combinations3(li)

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
# List Data referencing 

a=[1,2,3]
b=[2,3,1]
a=b #if we copy like this, changes made in 'a' will effect 'b' and vice versa
a=b.copy() #Data copy through indi   , changes made in 'a' will not effect 'b' and vice versa

In [34]:
def medium(li):
    while(True):
        li2=differenceOfPairs(li)
        if len(li2)==0:
            break
    return li

def differenceOfPairs(li):
    cli=li
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d=abs(li[i]-li[j])
            if d not in li:
                newelements.append(d)
    li.extend(newelements)
    return li
    return newelements
differenceOfPairs([1,9,3])

[1, 9, 3, 8, 2, 6]

In [1]:
def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements:
                newelements.append(str(d))
    li.extend(newelements)
    return [cli, li]

li = [3,6,24]
max(li)-2+1

23


def differenceOfPairs(li):
    newelements=[]
    l1=len(li)
    for i in range(l1-1):
        for j in range(i+1, l1):
            d=abs(li[i]-li[j])
            if d not in li:
                li.append(d)
                l2=len(li)                
    #return li
    repeat(li)
def repeat(li):
    if l2==l1:
        return li
    else:
        differenceOfPairs(li)
        l1=l2
differenceOfPairs([1,9,3])

In [54]:
#Function to identify differences of all pairs in a given list

def differencePairs(li):
    newelements = []
    c=li
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d=abs(li[i]-li[j])
            if d not in newelements and d not in li:
                newelements.append(d)
    li.extend(newelements)
    return [c, li]
li=[2,3,6,9,12,1,4,7,10]
differencePairs(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

In [56]:
def medium(li, k):
    while(True):
        li3=differencePairs(li)
        if li3[0]==li3[1]:
            break
    if len(li3[0])>=k:
        return sorted(li3[0], reverse=True)[k-1]
    return -1
medium(li, k)

NameError: name 'k' is not defined

In [57]:
#Convert the list into an Arithmetic Progression

### Set - Data Structure in Python

Repredented by {}

-> Set contains unique elements, no repeated elements
    - There is no index for sets
    - Sets are mutable

In [69]:
a={1,2,3,4,5,6, 6}
#

a.add(7) #Adding a single element to a set   
for i in a:
    print(i, end=' ') #-> prints the values in 'a' except '6'
print(i, end=' ')
b={7,8,9,1,2,3}
li=[11,12,13,1]
a.update(b, li)# Adding multiple elements
a

1 2 3 4 5 6 7 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [70]:
a.discard(13) # deiscard value 13 from list. insted of remove it is better to use discard
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [77]:
a = {10, 1, 2, 3, 4, 5, 6}
b = {7, 8, 9, 1, 2, 3}
a.union(b) #combines a and b values
a.intersection(b)# Common values in both lists

{1, 2, 3}

In [81]:
a.isdisjoint(b) #if no common values 'isdisjoint' gives 'True', If there are common values isdisjoint() gives 'False'

False

In [83]:
a - b # All elements of 'a' which are not in 'b' -> common elements b/w 'a' & 'b' are removed from 'a' and the remaining values are returned
b - a # All elements of 'b' which are not in 'a' -> common elements b/w 'a' & 'b' are removed from 'b' and the remaining values are returned

{4, 5, 6, 10}

In [86]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [88]:
a^b # It represents Elements either in 'a' or 'b' but not both -> uncommon elements-> 'a' union 'b' - 'a' intersection 'b'

{4, 5, 6, 7, 8, 9, 10}

In [90]:
d = set() #-> creates empty set -> should not create like this '{}', it will create dictionary, '[]' creates list
d

set()

In [91]:
li=[1,2,3,4,2,1,2,3,4]
u=set(li) #Removes repeating elements, but sets are time taking
u

{1, 2, 3, 4}

Procedural : C

Object Oriented : Java, Pyhton

Scripting : PHP, Python, Javascript, Shell Scripting, Perl

Functional: Python, Haskell, Scala

Logic : Prolog, Lisp

### List Comprehensions

In [93]:
#N natural numbers in a list
n=10
li=[]
for i in range(1, n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
li=[i for i in range(1,11)] #Using list comprehensions we can solve in single line
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [99]:
#Apply list comprehension to store the cubes of n natural numbers
li = [i**3 for i in range(1, 11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [108]:
# Function to calculte the factorial
def factorial(n):
    if n==0 or n==1:
        return 1
    return n*factorial(n-1)

#Apply List comprehension to calculate factorial of n natural numbers
n=10
li = [factorial(i) for i in range(1, n+1)]
li

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [155]:
#Calculate/Store cumulative sum of numbers till 'n' in a list
# if n=3 [1, 3, 6]
def cumulative(n):
    sum=0
    li=[]
    for i in range(1, n+1):
        sum=sum+i
    return sum
#          li.append(sum)
#     print(li)
# n=5
# cumulative(n)
n=5
lst = [cumulative(j) for j in range(1, n+1)]
lst

[1, 3, 6, 10, 15]

In [159]:
n=6
cumulativeSum=[sum(range(1,i+1)) for i in range(1, n+1)]
cumulativeSum

[1, 3, 6, 10, 15, 21]

In [6]:
#List Comprehension to store only leap years in a given time period

def isLeap(year):
    if year%400==0 or (year%4==0 and year%100!=0):
        return year
    #return False
def leapyear(year):
        if isLeap(year):
            #print(year)
            return year
        return
st=1970
et=2019
# for year in range(st, et+1):
#     leapyear(year)
    
leapYears=[leapyear(year) for year in range(st, et+1)]
leapYears

[None,
 None,
 1972,
 None,
 None,
 None,
 1976,
 None,
 None,
 None,
 1980,
 None,
 None,
 None,
 1984,
 None,
 None,
 None,
 1988,
 None,
 None,
 None,
 1992,
 None,
 None,
 None,
 1996,
 None,
 None,
 None,
 2000,
 None,
 None,
 None,
 2004,
 None,
 None,
 None,
 2008,
 None,
 None,
 None,
 2012,
 None,
 None,
 None,
 2016,
 None,
 None,
 None]

In [172]:
st=1970
et=2019
leapYears=[i for i in range(st, et+1) if i%400==0 or (i%4==0 and i%100!=0)]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [176]:
li = [1,2,3,2,1]
unique=[]
for i in li:
    if i not in unique:
        unique.append(i)
unique

[1, 2, 3]

In [202]:
li = [1,2,3,2,1, 5,6, 7, 5]
u2=[]
#lst=[i for i in li if li.count(i)==1] #not working
#lst=[li[i] for i in range(0, len(li)-1) if sorted(li)[i]==sorted(li)[i+1]]
[u2.append(i) for i in li if i not in u2] #working, print u2
u2

[1, 2, 3, 5, 6, 7]

### Iterators

Iterable - Strings, Lists, Tuples, Sets, Dictionaries
Convert Iterable to Iterator -> iter()
For Loop: Goes through each and every value, and can't stop until the condition reached

Iterator: Can stop while executing also

In [209]:
it=iter('Python')

# next(it) #Gives P
# next(it) #Gives y
# next(it) #Gives t
# next(it) #Gives h
# next(it) #Gives o
# next(it) #Gives n

print('1:')
print(next(it))
print('\n')
print('2:')
print(next(it))
print('\n')

1:
P


2:
y

### Generators
Generator is a function

In [2]:
def generator1():
    n=2
    yield n
    
    n = n**3
    yield n
    
    n = n**3
    yield n
    
    n = n**3
    yield n
    
b=generator1()

next(b)
next(b)
next(b)
next(b)
#next(a) -> this gives stop iteration error as we gave yeild only 4 times

def generator():
    n=2
    for i in range(1, 6):
        n**=3
        yield n
        
a=generator()

next(a)
next(a)
next(a)
next(a)
next(a)

14134776518227074636666380005943348126619871175004951664972849610340958208

In [7]:
def gen():
    n=3
    while(True):
        n**=3
        yield n
a=gen()

for i in range(6):
    print(next(a))
gen()

27
19683
7625597484987
443426488243037769948249630619149892803
87189642485960958202911070585860771696964072404731750085525219437990967093723439943475549906831683116791055225665627
662818605424187176105172864214479748588986673875686419462793267420461248113287928124072014075084032555900857691049061274135779819474602180821485109388447092848836753879024702508785576075431392037236950553064188689954912598712398079759040464474717726449363185622056684690721420542800623411346656785162817900551337542270334990205437212700131838846883